body {
	margin: 0;
	font-family: 'Lato';
	box-sizing: border-box;
}
header {
	background-image: url(rectangle.png);
	background-size: cover;
}
.inner-header {
	background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
}
.nav {
	width: 1050px;
	display: flex;
	margin: auto;
	justify-content: space-between;
	color: #fff;
	padding: 58px 0;

}
.img-nav {
	width: 29px;
}
.img-nav img {
	width: 100%
}
.nav .blk1 {
	display: flex;
	align-items: center;
	font-size: 18px;
	font-weight: 700;
	width: 172px;
}
.nav .cloud {
	padding-left: 7px;
}
 a {
	text-decoration: none;
	color: inherit;
}
.inner-header ul {
	width: 445px;
	list-style: none;
	display: flex;
	padding-left: 0;
	justify-content: space-between;
	font-size: 14px;
	padding-right: 80px;

}
.button-nav {
	text-align: center;
	border: solid 1px;
	border-radius: 5px;
	width: 100px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	font-weight: 400;

}
 header .wrap1 {
 	width: 578px;
 	margin: auto;
 	padding-top: 150px;
 	padding-bottom: 200px;
 }
 header .title {
 	margin: auto;
 	text-align: center;
 	font-size: 72px;
 	font-weight: 700;
 	color: #fff;
 	padding-bottom: 50px;
 }
 header .subtitle {
 	margin: auto;
 	width: 500px;
 	font-size: 24px;
 	font-weight: 600;
 	color: #fff;
 	text-align: center;
 	line-height: 150%;
 	padding-bottom: 60px;
 }
 .button-sign {
 	cursor: pointer;
 	text-align: center;
 	margin: auto;
 	font-size: 14px;
 	font-weight: 600;
 	color: #ED4C5C;
 	width: 160px;
 	height: 50px;
 	line-height: 50px;
 	background-color: #fff;
 	border-radius: 6px;
 }
 .video-section .wrap2 {
 	display: flex;
 	justify-content: space-between;
 	width: 1100px;
 	margin: auto;
 	margin-top: 40px

 }
 .wrap2 .left-text {
 	width: 445px;
 	margin: auto;
 	padding-top: 140px;
 	padding-bottom: 110px;

 }
  .video-section .p1-big {
  	font-size: 36px;
  	font-weight: 600;
  	color: #000000;
  }
  .video-section .p2 {
  	font-size: 14px;
  	font-weight: 400;
  	color: #000000;
  	margin-top: 30px;
  }
 .video-section .learn {
  	font-size: 14px;
  	font-weight: 400;
  	color: #ED4C5C;
  	padding-top: 10px;
  }
.video-section .video {
  	width: 478px;
  	margin: auto;
  	position: relative;
}
.video-bg .bg {
	width: 100%
	
}
.video .play-button {
	display: flex;
	width: 66px;
	height: 66px;
	background-color: #ED4C5C;
	border-radius: 50%;
	position: absolute;
	margin: auto;
	top: 130px;
	right:  445px;
	cursor: pointer;
}
.play-button img {
	align-items: center;
	margin: auto;
	width: 12px;
	height: 16px;
}
.overview {
	background-color: #fafafa;
}
.overview .wrap3 {
	width: 1140px;
	margin: auto;
	padding-top: 60px;
	padding-bottom: 100px;
}
.title-overview {
	text-align: center;
	font-size: 36px;
	font-weight: 600;
	color: #000;
	padding-bottom: 63px;
}
.title-overview p {
	margin:  0
}
.card-overview {
	display: flex;
	justify-content: space-between;
}
.card-overview .card1 {
	width: 350px;
	height: 355px;
	position: relative;

}
.card-overview img {
	width: 100%
}
.text-card1 {
	margin: auto;
	background-color: #fff;
	border-radius: 8px;
	width: 293px;
	position: absolute;
	top: 40%;
	left: calc(50% - (293px / 2));
	transition: 0.3s;
	box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
}

.text-card1 .supports {
	text-align: center;
	margin: auto;
	width: 229px;
	font-size: 18px;
	font-weight: 700;
	color: #101010;
	padding-bottom: 20px;
	padding-top: 33px;
}
.text-card1 .we {
	text-align: center;
	margin: auto;
	width: 229px;
	font-size: 12px;
	font-weight: 400;
	color: #101010;
	padding-bottom: 30px;
}
.text-card1 .read-more {
	text-align: center;
	margin: auto;
	width: 253px;
	font-size: 12px;
	font-weight: 700;
	color: #ED4C5C;
	padding-bottom: 25px;
}
.technology {
	margin-top: 31px;
	margin-bottom: 210px;
	color: #fff;
}
 .technology .wrap4 {
 	width: 1140px;
 	margin: auto;
 }
.title-technology {
	text-align: center;
	font-size: 36px;
	font-weight: 600;
	color: #000;
	margin: auto;
	margin-bottom: 46px;
}
.cloud-group {
	padding-top: 30px;
	margin: auto;
	display: flex;
}
.technology .cloud-card {
	width: 255px;
	margin: auto;
	position: relative;
}
.number-cloud-card {
	width: 117px;
	margin: auto;
}
.text-cloud-card {
	display: flex;
	margin: auto;
	text-align: center;
}
.img-text-cloud {
	margin: auto;
	text-align: center;
	position: absolute;
	top: 40px;
	left: 30px;
}
.img-text-cloud .png {
	width: 80px;
	margin: auto;

}
.png  img {
	width: auto;
}
.cloud-card  .stor {
	width: 130px;
	margin: auto;
	font-size: 18px;
	font-weight: 700;
	color: #101010;
	padding-bottom: 10px;

}
.cloud-card .access {
	width: 191px;
	margin: auto;
	text-align: center;
	font-size: 12px;
	font-weight: 400;
	color: #000000;
}

.img-text-cloud4 {
	margin: auto;
	text-align: center;
	position: absolute;
	top: 46px;
	left: 30px;
}
.cloud-card  .stor4 {
	width: 130px;
	margin: auto;
	font-size: 18px;
	font-weight: 700;
	color: #101010;
	padding-top: 10px;
	padding-bottom: 10px;
}
.img-text-cloud1 {
	margin: auto;
	text-align: center;
	position: absolute;
	top: 26px;
	left: 30px;
}
.download {
	background-color: #ED4C5C;
}
 .download .wrap5 {
 	display: flex;
 	justify-content: space-between;
 	width: 1140px;
 	margin: auto;
 	padding: 95px 0;
 }
 .download .left-text2 {
 	color: #fff;
 	width: 445px;
 }
 .left-text2 .p1-big {
 	font-size: 36px;
 	font-weight: 600;
 	padding-top: 20px;
 	padding-bottom: 30px;
 }
 .left-text2 .p2 {
 	font-size: 14px;
 	font-weight: 400;
 	padding-bottom: 30px;
 }
 .left-img { 
 	align-items: center;
 	display: flex;
 	justify-content: space-between;
 	width: 134px;

 }
 .left-img .iimg {
 	width: 32px;
 	cursor: pointer;
 }
  .left-img img {
  	width: 100%;
  }
   .left-img .iimg3 {
 	width: 24px;
 	cursor: pointer;
 }
  .left-img img {
  	width: 100%;
  }
  .download .three-img {
  	display: flex;
  	align-items: center;
  	position: relative;
  	width: 533px;
  }
.img-big {
	margin: auto;
	width: 445px;
	position: absolute;
	left: 40px;
	z-index: 110;
}
.img-small {
	width: 387px;
	opacity: 50%;
	position: absolute;
	left: 5px;
	z-index: 106;
}
.img-small2 {
	width: 387px;
	opacity: 50%;
	position: absolute;
	right: 5px;
	z-index: 105;
}
footer .wrap6 {
	padding-top: 85px;
	padding-bottom: 86px;
	width: 1140px;
	display: flex;
	margin: auto;
	justify-content: space-between;
}
.cont .head { 
	font-size: 18px;
	font-weight: 700;
	color: #101010;
	padding-bottom: 33px; 
}
.cont ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	font-size: 12px;
	font-weight: 400;
	color: #101010;
}
.cont li {
	padding-bottom: 5px;
}
 .cont .copy {
 	padding-top: 141px;
 }
 .FinTW {
 	padding-top: 20px;
 	width: 66px;
 }
.rodani {
	color: #fff;
	margin: auto;
	padding: 10px;
	display: flex;
	width: 350px;
	border: 1px solid;
	border-radius: 5px;
	position: absolute;
	top: 700px;
	left: calc(50% - 350px / 2);
	z-index: 1111;
	
}
.none {
	display: none;
}
}
 .aniblock {
 	width: 350px;
 	font-weight: 500;
 	font-size: 18px;
 	text-align: center;
 	margin: auto;
	margin-right: 16px;
 }

 .exit  {
 	cursor: pointer;
 	color: rgb(202, 187, 51);
	 margin: auto;
	 margin-top: 0;

 }
 .deact {
	 width: 100%;
	 height: 100%;
	 background-color: red;
	 position: fixed;
	 z-index: 1000;
 }